QOBUZ_APP_ID=30650571
QOBUZ_APP_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
QSYNC_DB_PATH=qobuzsync.db
QSYNC_COOKIE_SECURE=false
QSYNC_LOGIN_PROFILE_DIR=.qobuz_login_profiles
QSYNC_BROWSER_RUNTIME_DIR=
QSYNC_BROWSER_LOGIN_ENABLED=false
QSYNC_SECRET_KEY=
QSYNC_SECRET_KEY_FILE=.qsync_secret
QSYNC_MAX_UPLOAD_BYTES=1048576
QSYNC_MAX_TRACKS=2000
QSYNC_MAX_TRACK_NAME_LENGTH=300
QSYNC_MAX_PLAYLIST_NAME_LENGTH=120
QSYNC_MAX_SEARCH_QUERY_LENGTH=300
QSYNC_MAX_YANDEX_URL_LENGTH=2048
QSYNC_SEARCH_CACHE_TTL=2592000
QSYNC_SEARCH_NEGATIVE_CACHE_TTL=3600
